@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\000035}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ---------- */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/temp\/Compass_template\/pyramid\/sass\/layout\/_basic\.scss}line{font-family:\0000364}}
.no-scroll {
  overflow: hidden;
  background-color: cornsilk;
  font-size: 12px;
  font-size: 0.75rem;
}

@-webkit-keyframes radius-animation {
  /* line 71, ../sass/layout/_basic.scss */
  0% {
    border-radius: 0%;
  }

  /* line 74, ../sass/layout/_basic.scss */
  25% {
    background-color: gold;
  }

  /* line 77, ../sass/layout/_basic.scss */
  50% {
    border-radius: 25%;
  }

  /* line 80, ../sass/layout/_basic.scss */
  75% {
    background-color: limegreen;
  }

  /* line 83, ../sass/layout/_basic.scss */
  100% {
    border-radius: 0%;
  }
}
@-moz-keyframes radius-animation {
  /* line 71, ../sass/layout/_basic.scss */
  0% {
    border-radius: 0%;
  }

  /* line 74, ../sass/layout/_basic.scss */
  25% {
    background-color: gold;
  }

  /* line 77, ../sass/layout/_basic.scss */
  50% {
    border-radius: 25%;
  }

  /* line 80, ../sass/layout/_basic.scss */
  75% {
    background-color: limegreen;
  }

  /* line 83, ../sass/layout/_basic.scss */
  100% {
    border-radius: 0%;
  }
}
@-o-keyframes radius-animation {
  /* line 71, ../sass/layout/_basic.scss */
  0% {
    border-radius: 0%;
  }

  /* line 74, ../sass/layout/_basic.scss */
  25% {
    background-color: gold;
  }

  /* line 77, ../sass/layout/_basic.scss */
  50% {
    border-radius: 25%;
  }

  /* line 80, ../sass/layout/_basic.scss */
  75% {
    background-color: limegreen;
  }

  /* line 83, ../sass/layout/_basic.scss */
  100% {
    border-radius: 0%;
  }
}
@keyframes radius-animation {
  /* line 71, ../sass/layout/_basic.scss */
  0% {
    border-radius: 0%;
  }

  /* line 74, ../sass/layout/_basic.scss */
  25% {
    background-color: gold;
  }

  /* line 77, ../sass/layout/_basic.scss */
  50% {
    border-radius: 25%;
  }

  /* line 80, ../sass/layout/_basic.scss */
  75% {
    background-color: limegreen;
  }

  /* line 83, ../sass/layout/_basic.scss */
  100% {
    border-radius: 0%;
  }
}
@-webkit-keyframes infinite-spinning {
  /* line 89, ../sass/layout/_basic.scss */
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 92, ../sass/layout/_basic.scss */
  to {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@-moz-keyframes infinite-spinning {
  /* line 89, ../sass/layout/_basic.scss */
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 92, ../sass/layout/_basic.scss */
  to {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@-o-keyframes infinite-spinning {
  /* line 89, ../sass/layout/_basic.scss */
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 92, ../sass/layout/_basic.scss */
  to {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes infinite-spinning {
  /* line 89, ../sass/layout/_basic.scss */
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 92, ../sass/layout/_basic.scss */
  to {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/temp\/Compass_template\/pyramid\/sass\/layout\/_basic\.scss}line{font-family:\0000397}}
.scene {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 600px;
  margin-top: -250px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/temp\/Compass_template\/pyramid\/sass\/layout\/_basic\.scss}line{font-family:\00003105}}
.pyramid {
  position: relative;
  width: inherit;
  height: inherit;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: infinite-spinning 4s linear infinite 0ms;
  -moz-animation: infinite-spinning 4s linear infinite 0ms;
  -o-animation: infinite-spinning 4s linear infinite 0ms;
  animation: infinite-spinning 4s linear infinite 0ms;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/temp\/Compass_template\/pyramid\/sass\/layout\/_basic\.scss}line{font-family:\00003113}}
.pyramid div {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: .7;
  border: 2px solid silver;
  -webkit-transform: rotateX(90deg) translate3d(-50%, 0, -70px);
  -moz-transform: rotateX(90deg) translate3d(-50%, 0, -70px);
  -ms-transform: rotateX(90deg) translate3d(-50%, 0, -70px);
  -o-transform: rotateX(90deg) translate3d(-50%, 0, -70px);
  transform: rotateX(90deg) translate3d(-50%, 0, -70px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: radius-animation 9s linear infinite 0ms;
  -moz-animation: radius-animation 9s linear infinite 0ms;
  -o-animation: radius-animation 9s linear infinite 0ms;
  animation: radius-animation 9s linear infinite 0ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/temp\/Compass_template\/pyramid\/sass\/layout\/_basic\.scss}line{font-family:\00003124}}
.pyramid div:nth-child(1) {
  width: 90%;
  height: 90%;
  background-color: midnightblue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/temp\/Compass_template\/pyramid\/sass\/layout\/_basic\.scss}line{font-family:\00003124}}
.pyramid div:nth-child(2) {
  width: 80%;
  height: 80%;
  background-color: navy;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/temp\/Compass_template\/pyramid\/sass\/layout\/_basic\.scss}line{font-family:\00003124}}
.pyramid div:nth-child(3) {
  width: 70%;
  height: 70%;
  background-color: darkblue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/temp\/Compass_template\/pyramid\/sass\/layout\/_basic\.scss}line{font-family:\00003124}}
.pyramid div:nth-child(4) {
  width: 60%;
  height: 60%;
  background-color: mediumblue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/temp\/Compass_template\/pyramid\/sass\/layout\/_basic\.scss}line{font-family:\00003124}}
.pyramid div:nth-child(5) {
  width: 50%;
  height: 50%;
  background-color: blue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/temp\/Compass_template\/pyramid\/sass\/layout\/_basic\.scss}line{font-family:\00003124}}
.pyramid div:nth-child(6) {
  width: 40%;
  height: 40%;
  background-color: royalblue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/temp\/Compass_template\/pyramid\/sass\/layout\/_basic\.scss}line{font-family:\00003124}}
.pyramid div:nth-child(7) {
  width: 30%;
  height: 30%;
  background-color: dodgerblue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/temp\/Compass_template\/pyramid\/sass\/layout\/_basic\.scss}line{font-family:\00003124}}
.pyramid div:nth-child(8) {
  width: 20%;
  height: 20%;
  background-color: cornflowerblue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/temp\/Compass_template\/pyramid\/sass\/layout\/_basic\.scss}line{font-family:\00003124}}
.pyramid div:nth-child(9) {
  width: 10%;
  height: 10%;
  background-color: deepskyblue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/temp\/Compass_template\/pyramid\/sass\/layout\/_basic\.scss}line{font-family:\00003124}}
.pyramid div:nth-child(10) {
  width: 1%;
  height: 1%;
  background-color: lightskyblue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/temp\/Compass_template\/pyramid\/sass\/layout\/_basic\.scss}line{font-family:\00003136}}
.pyramid:hover, .pyramid:hover div {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/temp\/Compass_template\/pyramid\/sass\/layout\/_basic\.scss}line{font-family:\00003142}}
.pyramid:active, .pyramid:active div {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse;
  cursor: pointer;
}
