// variables
$background-color: cornsilk;

$plane-1: MidnightBlue;
$plane-2: Navy;
$plane-3: DarkBlue;
$plane-4: MediumBlue;
$plane-5: Blue;
$plane-6: RoyalBlue;
$plane-7: DodgerBlue;
$plane-8: CornflowerBlue;
$plane-9: DeepSkyBlue;
$plane-10: LightSkyBlue;

$plane-border-color: silver;
$plane-color-25: Gold;
$plane-color-75: LimeGreen;

// mixins
@mixin vendor($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

@mixin fontsize($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin keyframe ($animation_name) {
  @-webkit-keyframes $animation_name {
    @content;
  }

  @-moz-keyframes $animation_name {
    @content;
  }

  @-o-keyframes $animation_name {
    @content;
  }

  @keyframes $animation_name {
    @content;
  }
}

@mixin animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms) {
  -webkit-animation: $name $duration $iterations $timing-function $delay;
  -moz-animation: $name $duration $iterations $timing-function $delay;
  -o-animation: $name $duration $iterations $timing-function $delay;
  animation: $name $duration $iterations $timing-function $delay;
}
/* ---------- */


.no-scroll {
  overflow: hidden;
  background-color: $background-color;
  @include fontsize(12);
}

@include keyframe(radius-animation) {
  0% {
    border-radius:0%;
  }
  25% {
    background-color: $plane-color-25;
  }
  50% {
    border-radius:25%;
  }
  75% {
    background-color: $plane-color-75;
  }
  100% {
    border-radius:0%;
  }
}

@include keyframe(infinite-spinning) {
  from {
    @include vendor(transform, rotateY(0deg));
  }
  to {
    @include vendor(transform, rotateY(180deg));
  }
}

.scene {
  @include center-block;
  width:600px;
  height:600px;
  margin-top:-250px;
  @include vendor(perspective, 600px);
}

.pyramid {
  position:relative;
  width:inherit;
  height:inherit;
  transform: translateZ(0);
  @include vendor(transform-style, preserve-3d);
  @include animation(infinite-spinning, 4s, linear, infinite);
}

.pyramid div {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity:.7;
  border:2px solid $plane-border-color;
  @include vendor(transform, rotateX(90deg) translate3d(-50%, 0, -70px));
  @include vendor(backface-visibility, hidden);
  @include animation(radius-animation, 9s, linear, infinite);

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      $temp: 100% - 10*$i;
      $color: $plane-1, $plane-2, $plane-3, $plane-4, $plane-5, $plane-6, $plane-7, $plane-8, $plane-9, $plane-10;
      @if $temp <= 0 { $temp: 1%}
      width: $temp;
      height: $temp;
      background-color: nth($color, $i);
    }
  }
}

.pyramid {
  &:hover,
  &:hover div {
    @include vendor(animation-play-state, paused);
    cursor:pointer;
  }

  &:active,
  &:active div {
    @include vendor(animation-direction, reverse);
    cursor:pointer;
  }
}
